{
  "swagger": "2.0",
  "info": {
    "title": "Word Document MCP Connector",
    "description": "Connecteur personnalis\u00e9 pour cr\u00e9er et manipuler des documents Word via le serveur MCP. Compatible avec Power Apps et Copilot Studio.",
    "version": "1.0"
  },
  "host": "word-mcp-connector.ashywater-9eb5a210.francecentral.azurecontainerapps.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/check/document/exists": {
      "get": {
        "operationId": "CheckDocumentExists",
        "summary": "Check if a document exists in storage and provide detailed diagnostics.",
        "description": "Check if a document exists in storage and provide detailed diagnostics.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/cleanup/expired/documents": {
      "post": {
        "operationId": "CleanupExpiredDocuments",
        "summary": "Clean up expired documents from storage.",
        "description": "Clean up expired documents from storage.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/copy/document": {
      "post": {
        "operationId": "CopyDocument",
        "summary": "Create a copy of a Word document.",
        "description": "Create a copy of a Word document.\n\nArgs:\n    source_filename: Path to the source document\n    destination_filename: Optional path for the copy. If not provided, a default name will be generated.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "source_filename": {
                  "type": "string",
                  "description": "source_filename parameter",
                  "x-ms-summary": "Source Filename"
                },
                "destination_filename": {
                  "type": "string",
                  "description": "destination_filename parameter",
                  "x-ms-summary": "Destination Filename"
                }
              },
              "required": [
                "source_filename"
              ]
            }
          }
        ]
      }
    },
    "/api/create/document": {
      "post": {
        "operationId": "CreateDocument",
        "summary": "Create a new Word document with optional metadata.",
        "description": "Create a new Word document with optional metadata.\n\nArgs:\n    filename: Name of the document to create (with or without .docx extension)\n    title: Optional title for the document metadata\n    author: Optional author for the document metadata",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "title": {
                  "type": "string",
                  "description": "title parameter",
                  "x-ms-summary": "Title"
                },
                "author": {
                  "type": "string",
                  "description": "author parameter",
                  "x-ms-summary": "Author"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/debug/storage": {
      "get": {
        "operationId": "DebugStorage",
        "summary": "Debug storage configuration and available documents.",
        "description": "Debug storage configuration and available documents.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/download/document": {
      "post": {
        "operationId": "DownloadDocument",
        "summary": "Get download URL for a document.",
        "description": "Get download URL for a document.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/get/document/info": {
      "get": {
        "operationId": "GetDocumentInfo",
        "summary": "Get information about a Word document.",
        "description": "Get information about a Word document.\n\nArgs:\n    filename: Path to the Word document",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/get/document/outline": {
      "get": {
        "operationId": "GetDocumentOutline",
        "summary": "Get the structure of a Word document.",
        "description": "Get the structure of a Word document.\n\nArgs:\n    filename: Path to the Word document",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/get/document/text": {
      "get": {
        "operationId": "GetDocumentText",
        "summary": "Extract all text from a Word document.",
        "description": "Extract all text from a Word document.\n\nArgs:\n    filename: Path to the Word document",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/get/document/xml/tool": {
      "get": {
        "operationId": "GetDocumentXmlTool",
        "summary": "Get the raw XML structure of a Word document.",
        "description": "Get the raw XML structure of a Word document.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/list/available/documents": {
      "get": {
        "operationId": "ListAvailableDocuments",
        "summary": "List all .docx files in storage.",
        "description": "List all .docx files in storage.\n\nArgs:\n    directory: Directory to search for Word documents (ignored for Azure storage)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/merge/documents": {
      "post": {
        "operationId": "MergeDocuments",
        "summary": "Merge multiple Word documents into a single document.",
        "description": "Merge multiple Word documents into a single document.\n\nArgs:\n    target_filename: Path to the target document (will be created or overwritten)\n    source_filenames: List of paths to source documents to merge\n    add_page_breaks: If True, add page breaks between documents",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "target_filename": {
                  "type": "string",
                  "description": "target_filename parameter",
                  "x-ms-summary": "Target Filename"
                },
                "source_filenames": {
                  "type": "array",
                  "description": "source_filenames parameter",
                  "x-ms-summary": "Source Filenames",
                  "items": {
                    "type": "string"
                  }
                },
                "add_page_breaks": {
                  "type": "boolean",
                  "description": "add_page_breaks parameter",
                  "x-ms-summary": "Add Page Breaks"
                }
              },
              "required": [
                "target_filename",
                "source_filenames"
              ]
            }
          }
        ]
      }
    },
    "/api/add/heading": {
      "post": {
        "operationId": "AddHeading",
        "summary": "Add a heading to a Word document.",
        "description": "Add a heading to a Word document.\n\nArgs:\n    filename: Path to the Word document\n    text: Heading text\n    level: Heading level (1-9, where 1 is the highest level)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "text": {
                  "type": "string",
                  "description": "text parameter",
                  "x-ms-summary": "Text"
                },
                "level": {
                  "type": "integer",
                  "description": "level parameter",
                  "x-ms-summary": "Level"
                }
              },
              "required": [
                "filename",
                "text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/page/break": {
      "post": {
        "operationId": "AddPageBreak",
        "summary": "Add a page break to the document.",
        "description": "Add a page break to the document.\n\nArgs:\n    filename: Path to the Word document",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/add/paragraph": {
      "post": {
        "operationId": "AddParagraph",
        "summary": "Add a paragraph to a Word document.",
        "description": "Add a paragraph to a Word document.\n\nArgs:\n    filename: Path to the Word document\n    text: Paragraph text\n    style: Optional paragraph style name",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "text": {
                  "type": "string",
                  "description": "text parameter",
                  "x-ms-summary": "Text"
                },
                "style": {
                  "type": "string",
                  "description": "style parameter",
                  "x-ms-summary": "Style"
                }
              },
              "required": [
                "filename",
                "text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/picture": {
      "post": {
        "operationId": "AddPicture",
        "summary": "Add an image to a Word document.",
        "description": "Add an image to a Word document.\n\nArgs:\n    filename: Path to the Word document\n    image_path: Path to the image file\n    width: Optional width in inches (proportional scaling)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "image_path": {
                  "type": "string",
                  "description": "image_path parameter",
                  "x-ms-summary": "Image Path"
                },
                "width": {
                  "type": "number",
                  "description": "width parameter",
                  "x-ms-summary": "Width"
                }
              },
              "required": [
                "filename",
                "image_path"
              ]
            }
          }
        ]
      }
    },
    "/api/add/table": {
      "post": {
        "operationId": "AddTable",
        "summary": "Add a table to a Word document.",
        "description": "Add a table to a Word document.\n\nArgs:\n    filename: Path to the Word document\n    rows: Number of rows in the table\n    cols: Number of columns in the table\n    data: Optional 2D array of data to fill the table",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "rows": {
                  "type": "integer",
                  "description": "rows parameter",
                  "x-ms-summary": "Rows"
                },
                "cols": {
                  "type": "integer",
                  "description": "cols parameter",
                  "x-ms-summary": "Cols"
                },
                "data": {
                  "type": "array",
                  "description": "data parameter",
                  "x-ms-summary": "Data",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "filename",
                "rows",
                "cols"
              ]
            }
          }
        ]
      }
    },
    "/api/add/table/of/contents": {
      "post": {
        "operationId": "AddTableOfContents",
        "summary": "Add a table of contents to a Word document based on heading styles.",
        "description": "Add a table of contents to a Word document based on heading styles.\n\nArgs:\n    filename: Path to the Word document\n    title: Optional title for the table of contents\n    max_level: Maximum heading level to include (1-9)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "title": {
                  "type": "string",
                  "description": "title parameter",
                  "x-ms-summary": "Title"
                },
                "max_level": {
                  "type": "integer",
                  "description": "max_level parameter",
                  "x-ms-summary": "Max Level"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/delete/paragraph": {
      "post": {
        "operationId": "DeleteParagraph",
        "summary": "Delete a paragraph from a document.",
        "description": "Delete a paragraph from a document.\n\nArgs:\n    filename: Path to the Word document\n    paragraph_index: Index of the paragraph to delete (0-based)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                }
              },
              "required": [
                "filename",
                "paragraph_index"
              ]
            }
          }
        ]
      }
    },
    "/api/insert/header/near/text/tool": {
      "post": {
        "operationId": "InsertHeaderNearTextTool",
        "summary": "Insert a header (with specified style) before or after the target paragraph. Specify by text or paragraph index.",
        "description": "Insert a header (with specified style) before or after the target paragraph. Specify by text or paragraph index.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "target_text": {
                  "type": "string",
                  "description": "target_text parameter",
                  "x-ms-summary": "Target Text"
                },
                "header_title": {
                  "type": "string",
                  "description": "header_title parameter",
                  "x-ms-summary": "Header Title"
                },
                "position": {
                  "type": "string",
                  "description": "position parameter",
                  "x-ms-summary": "Position"
                },
                "header_style": {
                  "type": "string",
                  "description": "header_style parameter",
                  "x-ms-summary": "Header Style"
                },
                "target_paragraph_index": {
                  "type": "integer",
                  "description": "target_paragraph_index parameter",
                  "x-ms-summary": "Target Paragraph Index"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/insert/line/or/paragraph/near/text/tool": {
      "post": {
        "operationId": "InsertLineOrParagraphNearTextTool",
        "summary": "Insert a new line or paragraph (with specified or matched style) before or after the target paragraph. Specify by text or paragraph index.",
        "description": "Insert a new line or paragraph (with specified or matched style) before or after the target paragraph. Specify by text or paragraph index.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "target_text": {
                  "type": "string",
                  "description": "target_text parameter",
                  "x-ms-summary": "Target Text"
                },
                "line_text": {
                  "type": "string",
                  "description": "line_text parameter",
                  "x-ms-summary": "Line Text"
                },
                "position": {
                  "type": "string",
                  "description": "position parameter",
                  "x-ms-summary": "Position"
                },
                "line_style": {
                  "type": "string",
                  "description": "line_style parameter",
                  "x-ms-summary": "Line Style"
                },
                "target_paragraph_index": {
                  "type": "integer",
                  "description": "target_paragraph_index parameter",
                  "x-ms-summary": "Target Paragraph Index"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/insert/numbered/list/near/text/tool": {
      "get": {
        "operationId": "InsertNumberedListNearTextTool",
        "summary": "Insert a numbered list before or after the target paragraph. Specify by text or paragraph index.",
        "description": "Insert a numbered list before or after the target paragraph. Specify by text or paragraph index.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/replace/block/between/manual/anchors/tool": {
      "post": {
        "operationId": "ReplaceBlockBetweenManualAnchorsTool",
        "summary": "Replace all content between start_anchor_text and end_anchor_text (or next logical header if not provided).",
        "description": "Replace all content between start_anchor_text and end_anchor_text (or next logical header if not provided).",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "start_anchor_text": {
                  "type": "string",
                  "description": "start_anchor_text parameter",
                  "x-ms-summary": "Start Anchor Text"
                },
                "new_paragraphs": {
                  "type": "array",
                  "description": "new_paragraphs parameter",
                  "x-ms-summary": "New Paragraphs",
                  "items": {
                    "type": "string"
                  }
                },
                "end_anchor_text": {
                  "type": "string",
                  "description": "end_anchor_text parameter",
                  "x-ms-summary": "End Anchor Text"
                },
                "match_fn": {
                  "type": "string",
                  "description": "match_fn parameter",
                  "x-ms-summary": "Match Fn"
                },
                "new_paragraph_style": {
                  "type": "string",
                  "description": "new_paragraph_style parameter",
                  "x-ms-summary": "New Paragraph Style"
                }
              },
              "required": [
                "filename",
                "start_anchor_text",
                "new_paragraphs"
              ]
            }
          }
        ]
      }
    },
    "/api/replace/paragraph/block/below/header/tool": {
      "post": {
        "operationId": "ReplaceParagraphBlockBelowHeaderTool",
        "summary": "Reemplaza el bloque de p\u00e1rrafos debajo de un encabezado, evitando modificar TOC.",
        "description": "Reemplaza el bloque de p\u00e1rrafos debajo de un encabezado, evitando modificar TOC.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "header_text": {
                  "type": "string",
                  "description": "header_text parameter",
                  "x-ms-summary": "Header Text"
                },
                "new_paragraphs": {
                  "type": "array",
                  "description": "new_paragraphs parameter",
                  "x-ms-summary": "New Paragraphs",
                  "items": {
                    "type": "string"
                  }
                },
                "detect_block_end_fn": {
                  "type": "string",
                  "description": "detect_block_end_fn parameter",
                  "x-ms-summary": "Detect Block End Fn"
                }
              },
              "required": [
                "filename",
                "header_text",
                "new_paragraphs"
              ]
            }
          }
        ]
      }
    },
    "/api/search/and/replace": {
      "get": {
        "operationId": "SearchAndReplace",
        "summary": "Search for text and replace all occurrences.",
        "description": "Search for text and replace all occurrences.\n\nArgs:\n    filename: Path to the Word document\n    find_text: Text to search for\n    replace_text: Text to replace with",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        }
      }
    },
    "/api/apply/table/alternating/rows": {
      "post": {
        "operationId": "ApplyTableAlternatingRows",
        "summary": "Apply alternating row colors to a table for better readability.",
        "description": "Apply alternating row colors to a table for better readability.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    color1: Color for odd rows (hex string, default white)\n    color2: Color for even rows (hex string, default light gray)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "color1": {
                  "type": "string",
                  "description": "color1 parameter",
                  "x-ms-summary": "Color1"
                },
                "color2": {
                  "type": "string",
                  "description": "color2 parameter",
                  "x-ms-summary": "Color2"
                }
              },
              "required": [
                "filename",
                "table_index"
              ]
            }
          }
        ]
      }
    },
    "/api/auto/fit/table/columns": {
      "post": {
        "operationId": "AutoFitTableColumns",
        "summary": "Set table columns to auto-fit based on content.",
        "description": "Set table columns to auto-fit based on content.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                }
              },
              "required": [
                "filename",
                "table_index"
              ]
            }
          }
        ]
      }
    },
    "/api/create/custom/style": {
      "post": {
        "operationId": "CreateCustomStyle",
        "summary": "Create a custom style in the document.",
        "description": "Create a custom style in the document.\n\nArgs:\n    filename: Path to the Word document\n    style_name: Name for the new style\n    bold: Set text bold (True/False)\n    italic: Set text italic (True/False)\n    font_size: Font size in points\n    font_name: Font name/family\n    color: Text color (e.g., 'red', 'blue')\n    base_style: Optional existing style to base this on",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "style_name": {
                  "type": "string",
                  "description": "style_name parameter",
                  "x-ms-summary": "Style Name"
                },
                "bold": {
                  "type": "boolean",
                  "description": "bold parameter",
                  "x-ms-summary": "Bold"
                },
                "italic": {
                  "type": "boolean",
                  "description": "italic parameter",
                  "x-ms-summary": "Italic"
                },
                "font_size": {
                  "type": "integer",
                  "description": "font_size parameter",
                  "x-ms-summary": "Font Size"
                },
                "font_name": {
                  "type": "string",
                  "description": "font_name parameter",
                  "x-ms-summary": "Font Name"
                },
                "color": {
                  "type": "string",
                  "description": "color parameter",
                  "x-ms-summary": "Color"
                },
                "base_style": {
                  "type": "string",
                  "description": "base_style parameter",
                  "x-ms-summary": "Base Style"
                }
              },
              "required": [
                "filename",
                "style_name"
              ]
            }
          }
        ]
      }
    },
    "/api/format/table": {
      "post": {
        "operationId": "FormatTable",
        "summary": "Format a table with borders, shading, and structure.",
        "description": "Format a table with borders, shading, and structure.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    has_header_row: If True, formats the first row as a header\n    border_style: Style for borders ('none', 'single', 'double', 'thick')\n    shading: 2D list of cell background colors (by row and column)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "has_header_row": {
                  "type": "boolean",
                  "description": "has_header_row parameter",
                  "x-ms-summary": "Has Header Row"
                },
                "border_style": {
                  "type": "string",
                  "description": "border_style parameter",
                  "x-ms-summary": "Border Style"
                },
                "shading": {
                  "type": "array",
                  "description": "shading parameter",
                  "x-ms-summary": "Shading",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "filename",
                "table_index"
              ]
            }
          }
        ]
      }
    },
    "/api/format/table/cell/text": {
      "post": {
        "operationId": "FormatTableCellText",
        "summary": "Format text within a specific table cell.",
        "description": "Format text within a specific table cell.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    row_index: Row index (0-based)\n    col_index: Column index (0-based)\n    text_content: Optional new text content for the cell\n    bold: Set text bold (True/False)\n    italic: Set text italic (True/False)\n    underline: Set text underlined (True/False)\n    color: Text color (hex string like \"FF0000\" or color name like \"red\")\n    font_size: Font size in points\n    font_name: Font name/family",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "row_index": {
                  "type": "integer",
                  "description": "row_index parameter",
                  "x-ms-summary": "Row Index"
                },
                "col_index": {
                  "type": "integer",
                  "description": "col_index parameter",
                  "x-ms-summary": "Col Index"
                },
                "text_content": {
                  "type": "string",
                  "description": "text_content parameter",
                  "x-ms-summary": "Text Content"
                },
                "bold": {
                  "type": "boolean",
                  "description": "bold parameter",
                  "x-ms-summary": "Bold"
                },
                "italic": {
                  "type": "boolean",
                  "description": "italic parameter",
                  "x-ms-summary": "Italic"
                },
                "underline": {
                  "type": "boolean",
                  "description": "underline parameter",
                  "x-ms-summary": "Underline"
                },
                "color": {
                  "type": "string",
                  "description": "color parameter",
                  "x-ms-summary": "Color"
                },
                "font_size": {
                  "type": "integer",
                  "description": "font_size parameter",
                  "x-ms-summary": "Font Size"
                },
                "font_name": {
                  "type": "string",
                  "description": "font_name parameter",
                  "x-ms-summary": "Font Name"
                }
              },
              "required": [
                "filename",
                "table_index",
                "row_index",
                "col_index"
              ]
            }
          }
        ]
      }
    },
    "/api/format/text": {
      "post": {
        "operationId": "FormatText",
        "summary": "Format a specific range of text within a paragraph.",
        "description": "Format a specific range of text within a paragraph.\n\nArgs:\n    filename: Path to the Word document\n    paragraph_index: Index of the paragraph (0-based)\n    start_pos: Start position within the paragraph text\n    end_pos: End position within the paragraph text\n    bold: Set text bold (True/False)\n    italic: Set text italic (True/False)\n    underline: Set text underlined (True/False)\n    color: Text color (e.g., 'red', 'blue', etc.)\n    font_size: Font size in points\n    font_name: Font name/family",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                },
                "start_pos": {
                  "type": "integer",
                  "description": "start_pos parameter",
                  "x-ms-summary": "Start Pos"
                },
                "end_pos": {
                  "type": "integer",
                  "description": "end_pos parameter",
                  "x-ms-summary": "End Pos"
                },
                "bold": {
                  "type": "boolean",
                  "description": "bold parameter",
                  "x-ms-summary": "Bold"
                },
                "italic": {
                  "type": "boolean",
                  "description": "italic parameter",
                  "x-ms-summary": "Italic"
                },
                "underline": {
                  "type": "boolean",
                  "description": "underline parameter",
                  "x-ms-summary": "Underline"
                },
                "color": {
                  "type": "string",
                  "description": "color parameter",
                  "x-ms-summary": "Color"
                },
                "font_size": {
                  "type": "integer",
                  "description": "font_size parameter",
                  "x-ms-summary": "Font Size"
                },
                "font_name": {
                  "type": "string",
                  "description": "font_name parameter",
                  "x-ms-summary": "Font Name"
                }
              },
              "required": [
                "filename",
                "paragraph_index",
                "start_pos",
                "end_pos"
              ]
            }
          }
        ]
      }
    },
    "/api/highlight/table/header": {
      "post": {
        "operationId": "HighlightTableHeader",
        "summary": "Apply special highlighting to table header row.",
        "description": "Apply special highlighting to table header row.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    header_color: Background color for header (hex string, default blue)\n    text_color: Text color for header (hex string, default white)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "header_color": {
                  "type": "string",
                  "description": "header_color parameter",
                  "x-ms-summary": "Header Color"
                },
                "text_color": {
                  "type": "string",
                  "description": "text_color parameter",
                  "x-ms-summary": "Text Color"
                }
              },
              "required": [
                "filename",
                "table_index"
              ]
            }
          }
        ]
      }
    },
    "/api/merge/table/cells": {
      "post": {
        "operationId": "MergeTableCells",
        "summary": "Merge cells in a rectangular area of a table.",
        "description": "Merge cells in a rectangular area of a table.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    start_row: Starting row index (0-based)\n    start_col: Starting column index (0-based)\n    end_row: Ending row index (0-based, inclusive)\n    end_col: Ending column index (0-based, inclusive)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "start_row": {
                  "type": "integer",
                  "description": "start_row parameter",
                  "x-ms-summary": "Start Row"
                },
                "start_col": {
                  "type": "integer",
                  "description": "start_col parameter",
                  "x-ms-summary": "Start Col"
                },
                "end_row": {
                  "type": "integer",
                  "description": "end_row parameter",
                  "x-ms-summary": "End Row"
                },
                "end_col": {
                  "type": "integer",
                  "description": "end_col parameter",
                  "x-ms-summary": "End Col"
                }
              },
              "required": [
                "filename",
                "table_index",
                "start_row",
                "start_col",
                "end_row",
                "end_col"
              ]
            }
          }
        ]
      }
    },
    "/api/merge/table/cells/horizontal": {
      "post": {
        "operationId": "MergeTableCellsHorizontal",
        "summary": "Merge cells horizontally in a single row.",
        "description": "Merge cells horizontally in a single row.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    row_index: Row index (0-based)\n    start_col: Starting column index (0-based)\n    end_col: Ending column index (0-based, inclusive)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "row_index": {
                  "type": "integer",
                  "description": "row_index parameter",
                  "x-ms-summary": "Row Index"
                },
                "start_col": {
                  "type": "integer",
                  "description": "start_col parameter",
                  "x-ms-summary": "Start Col"
                },
                "end_col": {
                  "type": "integer",
                  "description": "end_col parameter",
                  "x-ms-summary": "End Col"
                }
              },
              "required": [
                "filename",
                "table_index",
                "row_index",
                "start_col",
                "end_col"
              ]
            }
          }
        ]
      }
    },
    "/api/merge/table/cells/vertical": {
      "post": {
        "operationId": "MergeTableCellsVertical",
        "summary": "Merge cells vertically in a single column.",
        "description": "Merge cells vertically in a single column.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    col_index: Column index (0-based)\n    start_row: Starting row index (0-based)\n    end_row: Ending row index (0-based, inclusive)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "col_index": {
                  "type": "integer",
                  "description": "col_index parameter",
                  "x-ms-summary": "Col Index"
                },
                "start_row": {
                  "type": "integer",
                  "description": "start_row parameter",
                  "x-ms-summary": "Start Row"
                },
                "end_row": {
                  "type": "integer",
                  "description": "end_row parameter",
                  "x-ms-summary": "End Row"
                }
              },
              "required": [
                "filename",
                "table_index",
                "col_index",
                "start_row",
                "end_row"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/alignment/all": {
      "post": {
        "operationId": "SetTableAlignmentAll",
        "summary": "Set text alignment for all cells in a table.",
        "description": "Set text alignment for all cells in a table.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    horizontal: Horizontal alignment (\"left\", \"center\", \"right\", \"justify\")\n    vertical: Vertical alignment (\"top\", \"center\", \"bottom\")",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "horizontal": {
                  "type": "string",
                  "description": "horizontal parameter",
                  "x-ms-summary": "Horizontal"
                },
                "vertical": {
                  "type": "string",
                  "description": "vertical parameter",
                  "x-ms-summary": "Vertical"
                }
              },
              "required": [
                "filename",
                "table_index"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/cell/alignment": {
      "post": {
        "operationId": "SetTableCellAlignment",
        "summary": "Set text alignment for a specific table cell.",
        "description": "Set text alignment for a specific table cell.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    row_index: Row index (0-based)\n    col_index: Column index (0-based)\n    horizontal: Horizontal alignment (\"left\", \"center\", \"right\", \"justify\")\n    vertical: Vertical alignment (\"top\", \"center\", \"bottom\")",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "row_index": {
                  "type": "integer",
                  "description": "row_index parameter",
                  "x-ms-summary": "Row Index"
                },
                "col_index": {
                  "type": "integer",
                  "description": "col_index parameter",
                  "x-ms-summary": "Col Index"
                },
                "horizontal": {
                  "type": "string",
                  "description": "horizontal parameter",
                  "x-ms-summary": "Horizontal"
                },
                "vertical": {
                  "type": "string",
                  "description": "vertical parameter",
                  "x-ms-summary": "Vertical"
                }
              },
              "required": [
                "filename",
                "table_index",
                "row_index",
                "col_index"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/cell/padding": {
      "post": {
        "operationId": "SetTableCellPadding",
        "summary": "Set padding/margins for a specific table cell.",
        "description": "Set padding/margins for a specific table cell.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    row_index: Row index (0-based)\n    col_index: Column index (0-based)\n    top: Top padding in specified units\n    bottom: Bottom padding in specified units\n    left: Left padding in specified units\n    right: Right padding in specified units\n    unit: Unit type (\"points\" or \"percent\")",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "row_index": {
                  "type": "integer",
                  "description": "row_index parameter",
                  "x-ms-summary": "Row Index"
                },
                "col_index": {
                  "type": "integer",
                  "description": "col_index parameter",
                  "x-ms-summary": "Col Index"
                },
                "top": {
                  "type": "number",
                  "description": "top parameter",
                  "x-ms-summary": "Top"
                },
                "bottom": {
                  "type": "number",
                  "description": "bottom parameter",
                  "x-ms-summary": "Bottom"
                },
                "left": {
                  "type": "number",
                  "description": "left parameter",
                  "x-ms-summary": "Left"
                },
                "right": {
                  "type": "number",
                  "description": "right parameter",
                  "x-ms-summary": "Right"
                },
                "unit": {
                  "type": "string",
                  "description": "unit parameter",
                  "x-ms-summary": "Unit"
                }
              },
              "required": [
                "filename",
                "table_index",
                "row_index",
                "col_index"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/cell/shading": {
      "post": {
        "operationId": "SetTableCellShading",
        "summary": "Apply shading/filling to a specific table cell.",
        "description": "Apply shading/filling to a specific table cell.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    row_index: Row index of the cell (0-based)\n    col_index: Column index of the cell (0-based)\n    fill_color: Background color (hex string like \"FF0000\" or \"red\")\n    pattern: Shading pattern (\"clear\", \"solid\", \"pct10\", \"pct20\", etc.)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "row_index": {
                  "type": "integer",
                  "description": "row_index parameter",
                  "x-ms-summary": "Row Index"
                },
                "col_index": {
                  "type": "integer",
                  "description": "col_index parameter",
                  "x-ms-summary": "Col Index"
                },
                "fill_color": {
                  "type": "string",
                  "description": "fill_color parameter",
                  "x-ms-summary": "Fill Color"
                },
                "pattern": {
                  "type": "string",
                  "description": "pattern parameter",
                  "x-ms-summary": "Pattern"
                }
              },
              "required": [
                "filename",
                "table_index",
                "row_index",
                "col_index",
                "fill_color"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/column/width": {
      "post": {
        "operationId": "SetTableColumnWidth",
        "summary": "Set the width of a specific table column.",
        "description": "Set the width of a specific table column.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    col_index: Column index (0-based)\n    width: Column width value\n    width_type: Width type (\"points\", \"inches\", \"cm\", \"percent\", \"auto\")",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "col_index": {
                  "type": "integer",
                  "description": "col_index parameter",
                  "x-ms-summary": "Col Index"
                },
                "width": {
                  "type": "number",
                  "description": "width parameter",
                  "x-ms-summary": "Width"
                },
                "width_type": {
                  "type": "string",
                  "description": "width_type parameter",
                  "x-ms-summary": "Width Type"
                }
              },
              "required": [
                "filename",
                "table_index",
                "col_index",
                "width"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/column/widths": {
      "post": {
        "operationId": "SetTableColumnWidths",
        "summary": "Set the widths of multiple table columns.",
        "description": "Set the widths of multiple table columns.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    widths: List of width values for each column\n    width_type: Width type (\"points\", \"inches\", \"cm\", \"percent\", \"auto\")",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "widths": {
                  "type": "array",
                  "description": "widths parameter",
                  "x-ms-summary": "Widths",
                  "items": {
                    "type": "string"
                  }
                },
                "width_type": {
                  "type": "string",
                  "description": "width_type parameter",
                  "x-ms-summary": "Width Type"
                }
              },
              "required": [
                "filename",
                "table_index",
                "widths"
              ]
            }
          }
        ]
      }
    },
    "/api/set/table/width": {
      "post": {
        "operationId": "SetTableWidth",
        "summary": "Set the overall width of a table.",
        "description": "Set the overall width of a table.\n\nArgs:\n    filename: Path to the Word document\n    table_index: Index of the table (0-based)\n    width: Table width value\n    width_type: Width type (\"points\", \"inches\", \"cm\", \"percent\", \"auto\")",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "table_index": {
                  "type": "integer",
                  "description": "table_index parameter",
                  "x-ms-summary": "Table Index"
                },
                "width": {
                  "type": "number",
                  "description": "width parameter",
                  "x-ms-summary": "Width"
                },
                "width_type": {
                  "type": "string",
                  "description": "width_type parameter",
                  "x-ms-summary": "Width Type"
                }
              },
              "required": [
                "filename",
                "table_index",
                "width"
              ]
            }
          }
        ]
      }
    },
    "/api/add/digital/signature": {
      "post": {
        "operationId": "AddDigitalSignature",
        "summary": "Add a digital signature to a Word document.",
        "description": "Add a digital signature to a Word document.\n\nArgs:\n    filename: Path to the Word document\n    signer_name: Name of the person signing the document\n    reason: Optional reason for signing",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "signer_name": {
                  "type": "string",
                  "description": "signer_name parameter",
                  "x-ms-summary": "Signer Name"
                },
                "reason": {
                  "type": "string",
                  "description": "reason parameter",
                  "x-ms-summary": "Reason"
                }
              },
              "required": [
                "filename",
                "signer_name"
              ]
            }
          }
        ]
      }
    },
    "/api/add/restricted/editing": {
      "post": {
        "operationId": "AddRestrictedEditing",
        "summary": "Add restricted editing to a Word document, allowing editing only in specified sections.",
        "description": "Add restricted editing to a Word document, allowing editing only in specified sections.\n\nArgs:\n    filename: Path to the Word document\n    password: Password to protect the document with\n    editable_sections: List of section names that can be edited",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "password": {
                  "type": "string",
                  "description": "password parameter",
                  "x-ms-summary": "Password"
                },
                "editable_sections": {
                  "type": "array",
                  "description": "editable_sections parameter",
                  "x-ms-summary": "Editable Sections",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "filename",
                "password",
                "editable_sections"
              ]
            }
          }
        ]
      }
    },
    "/api/protect/document": {
      "post": {
        "operationId": "ProtectDocument",
        "summary": "Add password protection to a Word document.",
        "description": "Add password protection to a Word document.\n\nArgs:\n    filename: Path to the Word document\n    password: Password to protect the document with",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "password": {
                  "type": "string",
                  "description": "password parameter",
                  "x-ms-summary": "Password"
                }
              },
              "required": [
                "filename",
                "password"
              ]
            }
          }
        ]
      }
    },
    "/api/unprotect/document": {
      "post": {
        "operationId": "UnprotectDocument",
        "summary": "Remove password protection from a Word document.",
        "description": "Remove password protection from a Word document.\n\nArgs:\n    filename: Path to the Word document\n    password: Password that was used to protect the document",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "password": {
                  "type": "string",
                  "description": "password parameter",
                  "x-ms-summary": "Password"
                }
              },
              "required": [
                "filename",
                "password"
              ]
            }
          }
        ]
      }
    },
    "/api/verify/document": {
      "post": {
        "operationId": "VerifyDocument",
        "summary": "Verify document protection and/or digital signature.",
        "description": "Verify document protection and/or digital signature.\n\nArgs:\n    filename: Path to the Word document\n    password: Optional password to verify",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "password": {
                  "type": "string",
                  "description": "password parameter",
                  "x-ms-summary": "Password"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/add/endnote/to/document": {
      "post": {
        "operationId": "AddEndnoteToDocument",
        "summary": "Add an endnote to a specific paragraph in a Word document.",
        "description": "Add an endnote to a specific paragraph in a Word document.\n\nArgs:\n    filename: Path to the Word document\n    paragraph_index: Index of the paragraph to add endnote to (0-based)\n    endnote_text: Text content of the endnote",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                },
                "endnote_text": {
                  "type": "string",
                  "description": "endnote_text parameter",
                  "x-ms-summary": "Endnote Text"
                }
              },
              "required": [
                "filename",
                "paragraph_index",
                "endnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/after/text": {
      "post": {
        "operationId": "AddFootnoteAfterText",
        "summary": "Add a footnote after specific text in a Word document with proper formatting.",
        "description": "Add a footnote after specific text in a Word document with proper formatting.\n\nThis enhanced function ensures proper superscript formatting by managing styles at the XML level.\n\nArgs:\n    filename: Path to the Word document\n    search_text: Text to search for (footnote will be added after this text)\n    footnote_text: Content of the footnote\n    output_filename: Optional output filename (if None, modifies in place)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "search_text": {
                  "type": "string",
                  "description": "search_text parameter",
                  "x-ms-summary": "Search Text"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                },
                "output_filename": {
                  "type": "string",
                  "description": "output_filename parameter",
                  "x-ms-summary": "Output Filename"
                }
              },
              "required": [
                "filename",
                "search_text",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/after/text/robust": {
      "post": {
        "operationId": "AddFootnoteAfterTextRobust",
        "summary": "Robust version of add_footnote_after_text.",
        "description": "Robust version of add_footnote_after_text.\nMaintains backward compatibility with existing API.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "search_text": {
                  "type": "string",
                  "description": "search_text parameter",
                  "x-ms-summary": "Search Text"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                },
                "output_filename": {
                  "type": "string",
                  "description": "output_filename parameter",
                  "x-ms-summary": "Output Filename"
                }
              },
              "required": [
                "filename",
                "search_text",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/before/text": {
      "post": {
        "operationId": "AddFootnoteBeforeText",
        "summary": "Add a footnote before specific text in a Word document with proper formatting.",
        "description": "Add a footnote before specific text in a Word document with proper formatting.\n\nThis enhanced function ensures proper superscript formatting by managing styles at the XML level.\n\nArgs:\n    filename: Path to the Word document\n    search_text: Text to search for (footnote will be added before this text)\n    footnote_text: Content of the footnote\n    output_filename: Optional output filename (if None, modifies in place)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "search_text": {
                  "type": "string",
                  "description": "search_text parameter",
                  "x-ms-summary": "Search Text"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                },
                "output_filename": {
                  "type": "string",
                  "description": "output_filename parameter",
                  "x-ms-summary": "Output Filename"
                }
              },
              "required": [
                "filename",
                "search_text",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/before/text/robust": {
      "post": {
        "operationId": "AddFootnoteBeforeTextRobust",
        "summary": "Robust version of add_footnote_before_text.",
        "description": "Robust version of add_footnote_before_text.\nNote: Current robust implementation defaults to 'after' position.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "search_text": {
                  "type": "string",
                  "description": "search_text parameter",
                  "x-ms-summary": "Search Text"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                },
                "output_filename": {
                  "type": "string",
                  "description": "output_filename parameter",
                  "x-ms-summary": "Output Filename"
                }
              },
              "required": [
                "filename",
                "search_text",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/enhanced": {
      "post": {
        "operationId": "AddFootnoteEnhanced",
        "summary": "Enhanced version of add_footnote_to_document with proper superscript formatting.",
        "description": "Enhanced version of add_footnote_to_document with proper superscript formatting.\n\nNow uses the robust implementation for better reliability.\n\nArgs:\n    filename: Path to the Word document\n    paragraph_index: Index of the paragraph to add footnote to (0-based)\n    footnote_text: Text content of the footnote\n    output_filename: Optional output filename (if None, modifies in place)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                },
                "output_filename": {
                  "type": "string",
                  "description": "output_filename parameter",
                  "x-ms-summary": "Output Filename"
                }
              },
              "required": [
                "filename",
                "paragraph_index",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/robust/tool": {
      "post": {
        "operationId": "AddFootnoteRobustTool",
        "summary": "Add a footnote with robust validation and error handling.",
        "description": "Add a footnote with robust validation and error handling.\n\nThis is the production-ready version with comprehensive Word compliance.\n\nArgs:\n    filename: Path to the Word document\n    search_text: Text to search for (mutually exclusive with paragraph_index)\n    paragraph_index: Index of paragraph (mutually exclusive with search_text)\n    footnote_text: Content of the footnote\n    validate_location: Whether to validate placement restrictions\n    auto_repair: Whether to attempt automatic document repair\n\nReturns:\n    Dict with success status, message, and optional details",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "search_text": {
                  "type": "string",
                  "description": "search_text parameter",
                  "x-ms-summary": "Search Text"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                },
                "validate_location": {
                  "type": "boolean",
                  "description": "validate_location parameter",
                  "x-ms-summary": "Validate Location"
                },
                "auto_repair": {
                  "type": "boolean",
                  "description": "auto_repair parameter",
                  "x-ms-summary": "Auto Repair"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/to/document": {
      "post": {
        "operationId": "AddFootnoteToDocument",
        "summary": "Add a footnote to a specific paragraph in a Word document.",
        "description": "Add a footnote to a specific paragraph in a Word document.\n\nArgs:\n    filename: Path to the Word document\n    paragraph_index: Index of the paragraph to add footnote to (0-based)\n    footnote_text: Text content of the footnote",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                }
              },
              "required": [
                "filename",
                "paragraph_index",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/add/footnote/to/document/robust": {
      "post": {
        "operationId": "AddFootnoteToDocumentRobust",
        "summary": "Robust version of add_footnote_to_document.",
        "description": "Robust version of add_footnote_to_document.\nMaintains backward compatibility with existing API.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "paragraph_index": {
                  "type": "integer",
                  "description": "paragraph_index parameter",
                  "x-ms-summary": "Paragraph Index"
                },
                "footnote_text": {
                  "type": "string",
                  "description": "footnote_text parameter",
                  "x-ms-summary": "Footnote Text"
                }
              },
              "required": [
                "filename",
                "paragraph_index",
                "footnote_text"
              ]
            }
          }
        ]
      }
    },
    "/api/convert/footnotes/to/endnotes/in/document": {
      "post": {
        "operationId": "ConvertFootnotesToEndnotesInDocument",
        "summary": "Convert all footnotes to endnotes in a Word document.",
        "description": "Convert all footnotes to endnotes in a Word document.\n\nArgs:\n    filename: Path to the Word document",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/customize/footnote/style": {
      "post": {
        "operationId": "CustomizeFootnoteStyle",
        "summary": "Customize footnote numbering and formatting in a Word document.",
        "description": "Customize footnote numbering and formatting in a Word document.\n\nArgs:\n    filename: Path to the Word document\n    numbering_format: Format for footnote numbers (e.g., \"1, 2, 3\", \"i, ii, iii\", \"a, b, c\")\n    start_number: Number to start footnote numbering from\n    font_name: Optional font name for footnotes\n    font_size: Optional font size for footnotes (in points)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "numbering_format": {
                  "type": "string",
                  "description": "numbering_format parameter",
                  "x-ms-summary": "Numbering Format"
                },
                "start_number": {
                  "type": "integer",
                  "description": "start_number parameter",
                  "x-ms-summary": "Start Number"
                },
                "font_name": {
                  "type": "string",
                  "description": "font_name parameter",
                  "x-ms-summary": "Font Name"
                },
                "font_size": {
                  "type": "integer",
                  "description": "font_size parameter",
                  "x-ms-summary": "Font Size"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/delete/footnote/from/document": {
      "post": {
        "operationId": "DeleteFootnoteFromDocument",
        "summary": "Delete a footnote from a Word document.",
        "description": "Delete a footnote from a Word document.\n\nYou can identify the footnote to delete either by:\n1. footnote_id: The numeric ID of the footnote (1, 2, 3, etc.)\n2. search_text: Text near the footnote reference to find and delete\n\nArgs:\n    filename: Path to the Word document\n    footnote_id: Optional ID of the footnote to delete (1-based)\n    search_text: Optional text to search near the footnote reference\n    output_filename: Optional output filename (if None, modifies in place)",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "footnote_id": {
                  "type": "integer",
                  "description": "footnote_id parameter",
                  "x-ms-summary": "Footnote Id"
                },
                "search_text": {
                  "type": "string",
                  "description": "search_text parameter",
                  "x-ms-summary": "Search Text"
                },
                "output_filename": {
                  "type": "string",
                  "description": "output_filename parameter",
                  "x-ms-summary": "Output Filename"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/api/delete/footnote/from/document/robust": {
      "post": {
        "operationId": "DeleteFootnoteFromDocumentRobust",
        "summary": "Robust version of delete_footnote_from_document.",
        "description": "Robust version of delete_footnote_from_document.\nMaintains backward compatibility with existing API.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "string",
              "description": "R\u00e9sultat de l'op\u00e9ration"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "footnote_id": {
                  "type": "integer",
[...]
