{
  "swagger": "2.0",
  "info": {
    "title": "Word MCP Connector - TEST MINIMAL",
    "description": "Version minimale avec 5 outils essentiels pour tests rapides",
    "version": "1.0-test"
  },
  "host": "word-mcp-connector.ashywater-9eb5a210.francecentral.azurecontainerapps.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "X-API-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/list/all/templates": {
      "get": {
        "operationId": "ListAllTemplates",
        "summary": "List ALL available templates. No parameters needed. Shows all templates in all categories.",
        "description": "List ALL available templates. No parameters needed. Shows all templates in all categories.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result of the operation"
                }
              }
            }
          }
        }
      }
    },
    "/list/all/documents": {
      "get": {
        "operationId": "ListAllDocuments",
        "summary": "List ALL Word documents in storage. No parameters needed.",
        "description": "List ALL Word documents in storage. No parameters needed.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result of the operation"
                }
              }
            }
          }
        }
      }
    },
    "/create/document": {
      "post": {
        "operationId": "CreateDocument",
        "summary": "Create a new Word document with optional metadata.",
        "description": "Create a new Word document with optional metadata.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result of the operation"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "title": {
                  "type": "string",
                  "description": "title parameter",
                  "x-ms-summary": "Title"
                },
                "author": {
                  "type": "string",
                  "description": "author parameter",
                  "x-ms-summary": "Author"
                }
              },
              "required": [
                "filename"
              ]
            }
          }
        ]
      }
    },
    "/add/paragraph": {
      "post": {
        "operationId": "AddParagraph",
        "summary": "Add a paragraph to a Word document.",
        "description": "Add a paragraph to a Word document.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result of the operation"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "filename parameter",
                  "x-ms-summary": "Filename"
                },
                "text": {
                  "type": "string",
                  "description": "text parameter",
                  "x-ms-summary": "Text"
                },
                "style": {
                  "type": "string",
                  "description": "style parameter",
                  "x-ms-summary": "Style"
                }
              },
              "required": [
                "filename",
                "text"
              ]
            }
          }
        ]
      }
    },
    "/create/document/from/template": {
      "post": {
        "operationId": "CreateDocumentFromTemplate",
        "summary": "Create a new document from an existing template with optional variable substitution.",
        "description": "Create a new document from an existing template with optional variable substitution.",
        "responses": {
          "200": {
            "description": "Succ\u00e8s",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "Result of the operation"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "template_name": {
                  "type": "string",
                  "description": "template_name parameter",
                  "x-ms-summary": "Template Name"
                },
                "new_document_name": {
                  "type": "string",
                  "description": "new_document_name parameter",
                  "x-ms-summary": "New Document Name"
                },
                "category": {
                  "type": "string",
                  "description": "category parameter",
                  "x-ms-summary": "Category"
                },
                "variables": {
                  "type": "object",
                  "description": "variables parameter",
                  "x-ms-summary": "Variables",
                  "additionalProperties": true
                }
              },
              "required": [
                "template_name",
                "new_document_name"
              ]
            }
          }
        ]
      }
    }
  }
}